module {{.project_name}}

go 1.26.4

tool github.com/a-h/templ/cmd/templ

require (
	github.com/a-h/templ v0.3.857
	github.com/cucumber/godog v0.15.1
	github.com/yeqown/go-qrcode/v2 v2.2.5
	github.com/yeqown/go-qrcode/writer/standard v0.0.0-20260528005607-04fcf5931427
	github.com/ncruces/go-sqlite3 v0.35.1
)
