go 1.26.4

use (
	.
	./cmd/horeb
	./exp/mnemosyne
	./cmd/sv
	./examples/go
	./exp/diplomat
	./exp/elbereth
	./exp/fin
	./exp/fractalis
	./exp/jmacs
	./exp/pangrams
	./exp/pavona
	./exp/roubaix
	./exp/skillo
	./exp/slidesdeck
)
