go 1.26.5

use (
	.
	./cmd/awesome-lint
	./cmd/horeb
	./cmd/sv
	./examples/go
	./exp/diplomat
	./exp/elbereth
	./exp/fin
	./exp/fractalis
	./exp/jmacs
	./exp/mnemosyne
	./exp/pangrams
	./exp/pavona
	./exp/roubaix
	./exp/skillo
	./exp/slidesdeck
	./exp/terebra
)
