INSERT OR IGNORE INTO urls (short_code, original_url, expires_at) VALUES
('gh',       'https://github.com',                  NULL),
('hn',       'https://news.ycombinator.com',         NULL),
('so',       'https://stackoverflow.com',            NULL),
('wiki',     'https://en.wikipedia.org',             NULL),
('pkg',      'https://pkg.go.dev',                   NULL),
('goplay',   'https://go.dev/play',                  NULL),
('gopher',   'https://go.dev',                       NULL),
('xkcd',     'https://xkcd.com',                     NULL),
('aoc',      'https://adventofcode.com',              NULL),
('lobsters', 'https://lobste.rs',                    NULL),
('hn-1h',    'https://news.ycombinator.com',         datetime('now', '+1 hour')),
('so-1h',    'https://stackoverflow.com',            datetime('now', '+1 hour')),
('pkg-1h',   'https://pkg.go.dev',                   datetime('now', '+1 hour')),
('wiki-1h',  'https://en.wikipedia.org',             datetime('now', '+1 hour')),
('gh-1h',    'https://github.com',                   datetime('now', '+1 hour')),
('gh-1d',    'https://github.com',                   datetime('now', '+1 day')),
('hn-1d',    'https://news.ycombinator.com',         datetime('now', '+1 day')),
('so-1d',    'https://stackoverflow.com',            datetime('now', '+1 day')),
('wiki-1d',  'https://en.wikipedia.org',             datetime('now', '+1 day')),
('pkg-1d',   'https://pkg.go.dev',                   datetime('now', '+1 day')),
('tw',       'https://tailwindcss.com',              datetime('now', '+7 days')),
('daisy',    'https://daisyui.com',                  datetime('now', '+7 days')),
('htmx',     'https://htmx.org',                     datetime('now', '+7 days')),
('alpine',   'https://alpinejs.dev',                 datetime('now', '+7 days')),
('vite',     'https://vite.dev',                     datetime('now', '+7 days')),
('bun',      'https://bun.sh',                       datetime('now', '+7 days')),
('deno',     'https://deno.com',                     datetime('now', '+30 days')),
('svelte',   'https://svelte.dev',                   datetime('now', '+30 days')),
('solid',    'https://solidjs.com',                  datetime('now', '+30 days')),
('lit',      'https://lit.dev',                      datetime('now', '+30 days')),
('nix',      'https://nixos.org',                    datetime('now', '+30 days')),
('k8s',      'https://kubernetes.io',                datetime('now', '+30 days')),
('grafana',  'https://grafana.com',                  datetime('now', '+30 days')),
('prom',     'https://prometheus.io',                datetime('now', '+30 days')),
('otel',     'https://opentelemetry.io',             datetime('now', '+30 days')),
('exp-gh',   'https://github.com',                   datetime('now', '-1 day')),
('exp-hn',   'https://news.ycombinator.com',         datetime('now', '-1 day')),
('exp-so',   'https://stackoverflow.com',            datetime('now', '-1 day')),
('exp-wiki', 'https://en.wikipedia.org',             datetime('now', '-1 day')),
('exp-pkg',  'https://pkg.go.dev',                   datetime('now', '-1 day')),
('exp-xkcd', 'https://xkcd.com',                     datetime('now', '-1 day')),
('exp-aoc',  'https://adventofcode.com',             datetime('now', '-1 day')),
('maps',     'https://maps.google.com',              datetime('now', '+1 hour')),
('mail',     'https://mail.google.com',              datetime('now', '+1 hour')),
('docs',     'https://docs.google.com',              datetime('now', '+1 day')),
('ddg',      'https://duckduckgo.com',               datetime('now', '+1 day')),
('arch',     'https://archlinux.org',                datetime('now', '+7 days')),
('smol',     'https://smol.css',                     datetime('now', '+7 days')),
('mdn',      'https://developer.mozilla.org',        datetime('now', '+30 days')),
('caniuse',  'https://caniuse.com',                  datetime('now', '+30 days')),
('node',     'https://nodejs.org',                   datetime('now', '+1 hour')),
('py',       'https://python.org',                   datetime('now', '+1 hour')),
('rs',       'https://rust-lang.org',                datetime('now', '+1 day')),
('ts',       'https://typescriptlang.org',           datetime('now', '+1 day')),
('zig',      'https://ziglang.org',                  datetime('now', '+7 days')),
('clang',    'https://clang.llvm.org',               datetime('now', '+7 days')),
('cpp',      'https://en.cppreference.com',          datetime('now', '+30 days')),
('sqlite',   'https://sqlite.org',                   datetime('now', '+30 days')),
('pg',       'https://postgresql.org',               datetime('now', '+1 hour')),
('redis',    'https://redis.io',                     datetime('now', '+1 day')),
('gh-1w',    'https://github.com',                   datetime('now', '+7 days')),
('hn-1w',    'https://news.ycombinator.com',         datetime('now', '+7 days')),
('so-1w',    'https://stackoverflow.com',            datetime('now', '+7 days')),
('wiki-1w',  'https://en.wikipedia.org',             datetime('now', '+7 days')),
('gh-1mo',   'https://github.com',                   datetime('now', '+30 days')),
('hn-1mo',   'https://news.ycombinator.com',         datetime('now', '+30 days')),
('so-1mo',   'https://stackoverflow.com',            datetime('now', '+30 days')),
('wiki-1mo', 'https://en.wikipedia.org',             datetime('now', '+30 days')),
('netflix',  'https://netflix.com',                  datetime('now', '+1 hour')),
('pin',      'https://pinterest.com',                datetime('now', '+1 day')),
('figma',    'https://figma.com',                    datetime('now', '+7 days')),
('calm',     'https://calm.com',                     datetime('now', '+30 days')),
('yt',       'https://youtube.com',                  NULL),
('reddit',   'https://reddit.com',                   NULL),
('x',        'https://twitter.com',                  NULL),
('exp-yt',   'https://youtube.com',                  datetime('now', '-1 day')),
('exp-rd',   'https://reddit.com',                   datetime('now', '-1 day')),
('exp-dd',   'https://duckduckgo.com',               datetime('now', '-1 day')),
('exp-mdn',  'https://developer.mozilla.org',        datetime('now', '-1 day')),
('exp-php',  'https://php.net',                      datetime('now', '-1 day')),
('exp-perl', 'https://perl.org',                     datetime('now', '-1 day')),
('exp-ruby', 'https://ruby-lang.org',                datetime('now', '-1 day')),
('php',      'https://php.net',                      datetime('now', '+1 hour')),
('perl',     'https://perl.org',                     datetime('now', '+1 day')),
('ruby',     'https://ruby-lang.org',                datetime('now', '+7 days')),
('lua',      'https://lua.org',                      datetime('now', '+30 days')),
('racket',   'https://racket-lang.org',              datetime('now', '+1 hour')),
('nim',      'https://nim-lang.org',                 datetime('now', '+1 day')),
('crystal',  'https://crystal-lang.org',             datetime('now', '+7 days')),
('ocaml',    'https://ocaml.org',                    datetime('now', '+30 days')),
('tailwind', 'https://tailwindcss.com',              NULL),
('react',    'https://react.dev',                    datetime('now', '+1 hour')),
('vue',      'https://vuejs.org',                    datetime('now', '+1 day')),
('angular',  'https://angular.dev',                  datetime('now', '+7 days')),
('next',     'https://nextjs.org',                   datetime('now', '+30 days')),
('nuxt',     'https://nuxt.com',                     datetime('now', '+1 hour')),
('remix',    'https://remix.run',                    datetime('now', '+1 day')),
('astro',    'https://astro.build',                  datetime('now', '+7 days')),
('qwik',     'https://qwik.dev',                     datetime('now', '+30 days')),
('docker',   'https://docker.com',                   datetime('now', '+1 hour')),
('podman',   'https://podman.io',                    datetime('now', '+1 day')),
('ansible',  'https://ansible.com',                  datetime('now', '+7 days')),
('terraform','https://terraform.io',                 datetime('now', '+30 days'));
