package main

import (
	"fmt"
	"os"
	"os/exec"

	"github.com/qjcg/arcadia/exp/pavona/pkg/site"
)

func main() {
	if err := buildCSS(); err != nil {
		fmt.Fprintf(os.Stderr, "Error building CSS: %v\n", err)
		os.Exit(1)
	}
	if err := site.Build("content", "dist"); err != nil {
		fmt.Fprintf(os.Stderr, "Error: %v\n", err)
		os.Exit(1)
	}
}

func buildCSS() error {
	cmd := exec.Command("npx", "@tailwindcss/cli", "-i", "static/style.css", "-o", "dist/style.css")
	cmd.Stdout = os.Stderr
	cmd.Stderr = os.Stderr
	return cmd.Run()
}
