{
  "name": "{{.Name}}",
  "private": true,
  "scripts": {
    "build:css": "npx @tailwindcss/cli -i static/style.css -o dist/style.css"
  },
  "dependencies": {
    "flexsearch": "^0.8.105"
  },
  "devDependencies": {
    "tailwindcss": "^4.1.0",
    "@tailwindcss/cli": "^4.1.0",
    "daisyui": "5.6.3"
  }
}
