module {{.Name}}

go 1.26.4

tool github.com/a-h/templ/cmd/templ

require (
	github.com/a-h/templ v0.3.857
	github.com/cucumber/godog v0.15.1
	github.com/skip2/go-qrcode v0.0.0-20200617195104-da1b6568686e
	modernc.org/sqlite v1.37.1
)
